.todoForm {
  /* background-color: greenyellow; */
  display: grid;
  grid-template-columns: 1fr 100px;
  /* align-items: center; */
  width: 100%;
  height: 50px;
}

.todoInput {
  /* border: 1px solid red; */
  background: transparent;
  border-style: none;
  background-color: transparent;
  color: var(--text);
  border: 1px solid var(--borders);
  border-right: none;
  letter-spacing: 2px;
  padding-left: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-top: none;
  border-left: none;
  margin-right: 50px;
}

.todoInput:focus {
  outline: none;
}

.submitButton {
  color: var(--text);
  background-color: var(--purpleBright);
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.submitButton:hover {
  cursor: pointer;
}
