.HomeButton {
  /* background-color: rgb(124, 205, 124); */
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  font-family: "Michroma", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: var(--purpleBright);
}

.HomeButton:hover {
  /* text-decoration: underline; */
  line-height: 5px;
}
