.navbar {
  /* border: 2px solid red; */
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 200px;
  align-items: center;
  padding: 20px;
  height: 50px;
  background-color: var(--purpleDark);
}

.menu {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
