.navbar {
  --navbarHeight: 60px;

  /* border: solid red; */
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: var(--navbarHeight);
  background-color: var(--purpleDark);
}

.menu {
  /* border: solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
