*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purpleBright: rgb(110, 52, 216);
  --purpleDark: rgb(11, 6, 37);
  --borders: #34207c;
  --text: rgb(181, 181, 190);
  --aczent: #12343b;
}

body {
  /* background-color: rgb(172, 140, 209); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  background-color: rgb(95, 44, 161);
}

.App {
  background-color: var(--purpleDark);
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 100px;
}

.todo-input {
  background: transparent;
  border-style: none;
  background-color: transparent;
  color: var(--text);
  border: 1px solid var(--borders);
  border-right: none;
  letter-spacing: 2px;
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.todo-wrapper {
  /* background-color: red; */
  display: flex;
  align-items: stretch;
  width: 80%;
  height: 20%;
  transform: translateY(-20px);
}

.TodoForm {
  /* background-color: greenyellow; */
  display: grid;
  grid-template-columns: 1fr 100px;
  width: 100%;
}

.todo-btn {
  /* width: 20%; */
  color: white;
  background-color: var(--purpleBright);
  border-style: none;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.todo-btn:hover {
  cursor: pointer;
}
