a {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  color: var(--text);
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

a:hover {
  /* text-decoration: underline; */
  line-height: 5px;
}
